doctype html
html
  head
    include head
  body
    include nav
    block content
    include footer
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" )
    script(src="main.js")
  
